#container {
    width: 100%;
    margin: 10px auto;
    background-color: #FBEAEB;
    color: #2F3C7E;
    border: 1px solid black;
    line-height: 130%;
    float:left
}

header {
    padding: 0;
    margin: 0;
    height: 200px;
}

.logo {
    padding: 0;
    margin: 25px;
    margin-right: 50px;
    height: 150px;
    float:left;
    vertical-align: middle;
}

.profile {
    padding: 0;
    margin: 25px 80px 25px 10px;
    height: 150px;
    float:right;
    vertical-align: middle;
}

#navbar {
    text-align: center;
    float: Top;
    font-size: 100%;
    margin: 0px;
    padding: 1.5em;
    background-color: #FBEAEB;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    align-content: center;
    word-spacing: 5px;
}

#rightnav {
    float: right;
    width: 160px;
    margin: 0px;
    padding: 1em;
}

.content {
    margin-left: 200px;
    font-size: 200%;
    line-height: 200%;
    border-left: 1px solid black;
    margin-right: 200px;
    border-right: 1px solid black;
    padding: 5em;
    max-width: 200em;
    background-color: #A0ECD0;
    border-bottom: 1px solid black;
}

.cardContainer {
    margin-left: 200px;
    line-height: 200%;
    border-left: 1px solid black;
    margin-right: 200px;
    border-right: 1px solid black;
    padding: 25px;
    max-width: 200em;
    background-color: #A0ECD0;
    border-bottom: 1px solid black;
}

.plantCard {
    border:2px solid darkslategrey;
    background-color:mediumaquamarine;
    border-radius:5px;
    padding:25px;
    font-size:150%;
    height:200px;
    margin-bottom:25px;
}

.plantPic {
    max-height:100%;
    padding:5px;
    border-radius:10px;
    background-color:blanchedalmond;
    float:left;
    vertical-align:middle;
    margin-right:25px;
}

#headlines {
    text-align: center;
    margin-left: 200px;
    border-left: 1px solid black;
    margin-right: 200px;
    border-right: 1px solid black;
    padding: 5em;
    max-width: 200em;
}

#footer {
    clear: both;
    text-align: center;
    margin: 0;
    padding: .5em;
    color: #333;
    border-top: 1px solid black;
}

#leftnav p, #rightnav p {
    margin: 0 0 1em 0;
}

#content h2 {
    margin: 0 0 .5em 0;
}

#water{
  height: 100px;
  width: 100px;
}
#content{
  text-align: center;
  font-family: Arial;
}
