.container{
    position: relative;
  margin: 30px auto;
  padding: 20px 20px 20px;
  width: 310px;
  background: white;
  border-radius: 3px;
  text-align: center;

}

.container h1 {
    text-align: center;
}
body {
    background-color: #FBEAEB;
}

form {
	position: sticky;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
  	height: auto;
	border-style: groove;
	background-color: #0f4233;
	border-color: #d3f2e9;

}